


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: repeating-linear-gradient(135deg, #fff1c5 0%, #ffffff 100%) fixed;
  /*background: repeating-linear-gradient(135deg, #aacfff 0%, #3188ff 100%) fixed;*/

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.module {
  border-radius: 10px;
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.06)) fixed;
  box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.13),
  -2px -2px 2px rgba(0, 0, 0, 0.14);
  text-align: center;
  padding: 1em;
  margin: 1em;
  color: black;
}

.middleColumn{
  grid-column: 2;
}

.leftColumn{
  grid-column: 1;

}

.moduleContainer > .rightColumn{
  grid-column: 3;
}

.text-module {
  text-align: left;
}

.moduleContainer {
  white-space: pre-wrap;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.page{
  text-align: center;
}

.center-form{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.06)) fixed;
  border-radius: 10px;
  box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.13),
  -2px -2px 2px rgba(0, 0, 0, 0.14);
  text-align: center;
  padding: 1em;
  margin: 1em;
  color: black;
}

.edit-module-button{
  text-align: left;
  margin: 0em 2em;
  cursor: pointer;
  background-color: #ced9ff;
  color: #001580;
  border-radius: 0.3em;
  padding: 0.1em 0.25em;
}

.delete-page-button{
  cursor: pointer;
  background-color: #f6bdbd;
  color: #b8000a;
  border-radius: 0.3em;
  padding: 0.1em 0.25em;
}

.edit-page-button{
  cursor: pointer;
  text-decoration: none;
  background-color: #d7dbfd;
  color: #001583;
  border-radius: 0.3em;
  padding: 0.1em 0.25em;
}

.home-page-list-element{
  text-align: left;
  padding: 0.3em;
}

.home-page-list-element-title {
  text-decoration: underline;
  color: black;
}

.home-page-container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.home-page-container>*{
  width: fit-content;
  grid-column: 2;
  text-align: center;
}

.home-button{
  text-align: left;
}

.newModuleButton{
  text-align: left;
}

.edit-textarea{
  white-space: pre-wrap;
}

.login-label {

}
